*{
    box-sizing:border-box;
    font-family: monospace;
    margin:0;
    
}
#main{
    padding:2vw;
    margin:0;
    background-color: rgb(245, 246, 228);    
}
img{
    padding:0 2vw;
    width:12vw;
    height:10vw;
}
#counter{
    display:block;
    text-align:center;
    font-size: 40px;
    padding-bottom:20px;
    font-family:monospace;
}
#buttons{
    text-align:center;
    font-family:sans-serif;
}
#title{
    display: flex;
    background-color: rgb(24, 146, 199);
    margin:0;
}
#title-text{
    padding-top: 1vw;
    padding-bottom:2vw;
    padding-left:1vw;
    text-align: left;
    text-decoration: underline;
    width:70%;
}
#navbar{
    display: flex;
    width: 40%;
}
#navbar>*{
    border-style:groove;
    background-color: rgb(38, 163, 216);
    border-color: rgb(38, 163, 216);
    width:calc(100%/3);
    text-align:center;
    padding-top:3vw;
    font-size: 20px;
    font-style: bold;
    cursor:pointer;
}
#main{
    display: flex;
}
#history{
    width:50%;
}
#counter_application{
    border-style:groove;
    padding-top:10%;
    margin-bottom:40%;
    width: 50%;
    float:right;
}
#descrption{
    padding:2vw;
    text-decoration:underline;
    text-align: center;
}