*{
    zoom:250%;
    box-sizing:border-box;
    font-family: monospace;
    text-decoration: none;
    margin:0;
    
}
#title{
    font-style: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:2px 5%;
    background-color: rgb(45, 164, 233);
}
#title-text{
    padding: 1vw 1vw;
}
#logo img{
    float:left; 
    width:fit-content ;  

}
#logo{
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    padding:0px 20px;
    display: inline-block;
}
.nav__links li a{
    color: black;
    transition: all 0.3 ease 0s;
}
.nav__links li a:hover{
    color:rgb(255, 255, 255);
}

#main{
    padding:1vw;
    margin:0;
    background-color: rgb(245, 246, 228);    
}
h1{
    display: inline;
}
h2{
    display: inline;
}
img{
    margin:1vw;
    width:4vw;
    height:3vw;
}
#counter{
    display:block;
    text-align:center;
    font-size: 40px;
    padding-bottom:20px;
    font-family:monospace;
}
#buttons{
    text-align:center;
    font-family:sans-serif;
}
#main{
    display: flex;
}
#history{
    width:50%;
}
#counter_application{
    border-style:groove;
    padding-top:10%;
    margin-bottom:40%;
    width: 50%;
    float:right;
}
#descrption{
    padding:2vw;
    text-decoration:underline;
    text-align: center;
}
